.app-nav-container {
    height: 100vh;
    padding-top: 30px;
    margin-left: 19px;
    width: 240px;
    border-right: 1px #262626 solid;
}

.instagram-icon {
    width: 100px;
}

.app-nav-options {
    margin-left: -4px;
    padding-top: 45px;
}

.icon {
    width: 25px;
    padding-right: 20px;
}

.icon-couple {
    padding-bottom: 30px;
}

.icon-couple:hover {
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
}

.more-icon {
    padding-top: 50px;
}