.no-bullets {
    list-style-type: none;
  }

.story-profile-img{
  width: 35px;
  border-radius: 50%;
}

.story-name:hover{
  cursor: pointer;
}

.story-profile-img:hover{
  cursor: pointer;
}

.story-image img{
  width: 470px;
  height: 415px;
  border: 1px solid #262626;
}

.story-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.story{
  margin-left: 150px;
  font-size: 14px;
}

.story-header span{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
}

.story-header img{
  float: right;
}

.story-header-data{
  display: flex;
}

.dot-img{
  width: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.dots-img {
  width: 20px;
}

.dots-img:hover{
  cursor: pointer;
}

.actions-buttons img{
  width: 24px;
  margin-right: 15px;
}

.bookmark-button img{
  width: 24px;
}

.story-comments-command{
  display: flex;
  justify-content: space-between;
}

.bookmark-button img:hover{
  cursor: pointer;
  background-color: #80808073;
}

.actions-buttons img:hover{
  cursor: pointer;
  background-color: #80808073;
}